* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  *:focus {
    outline: none; }

*::-webkit-input-placeholder {
  color: #c0c0c0;
  opacity: 1;
  font-family: "Lato    ", sans-serif; }

*:-ms-input-placeholder {
  color: #c0c0c0;
  opacity: 1;
  font-family: "Lato    ", sans-serif; }

*::-webkit-input-placeholder, button {
  font-family: "Lato    ", sans-serif; }

*:-ms-input-placeholder, button {
  font-family: "Lato    ", sans-serif; }

*::-ms-input-placeholder, button {
  font-family: "Lato    ", sans-serif; }

*::placeholder, button {
  font-family: "Lato    ", sans-serif; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #000; }

body input:required:valid,
body textarea:required:valid {
  color: #000; }

html, body {
  height: 100%; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  font-family: "Lato    ", sans-serif;
  overflow-x: hidden;
  line-height: 1.5;
  opacity: 1; }

img {
  max-width: 100%; }

.img_responsive {
  display: block;
  max-width: 100%;
  height: auto; }

/*btns */
.btn_simple {
  color: #722ED1;
  border: 1px solid #722ED1;
  border-radius: 23px;
  padding: 6px 34px;
  font-weight: 600;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  text-decoration: none; }
  .btn_simple:hover {
    background-color: #722ED1;
    color: #fff; }

.btn {
  color: #fff;
  background-color: #722ED1;
  border-radius: 24px;
  padding: 14px 40px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  text-decoration: none;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16); }
  .btn:hover {
    background-color: #fff;
    color: #111; }
  .btn.btn_white {
    background-color: #fff;
    color: #111; }
    .btn.btn_white:hover {
      color: #fff;
      background-color: #722ED1; }

.btn_form {
  display: block;
  border: none;
  outline: none;
  width: 100%;
  padding: 14px;
  color: #fff;
  cursor: pointer;
  background-color: #722ED1;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  text-decoration: none;
  -webkit-transition: border-radius 0.4s ease-in-out;
  transition: border-radius 0.4s ease-in-out; }
  .btn_form:hover {
    border-radius: 30px; }

/*btns */
#top_banner {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

#header {
  padding-top: 24px; }
  #header .container .inner_header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    #header .container .inner_header > .logo {
      display: block;
      width: 48px;
      height: 48px; }
      #header .container .inner_header > .logo > img {
        width: 100%; }
  #header .container .right_side_header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 40px; }
    #header .container .right_side_header .mnu_top {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      gap: 40px; }
      #header .container .right_side_header .mnu_top > li {
        display: inline-block;
        position: relative; }
        #header .container .right_side_header .mnu_top > li a {
          text-decoration: none;
          font-weight: 500;
          color: #000;
          -webkit-transition: color 0.4 ease;
          transition: color 0.4 ease; }
          #header .container .right_side_header .mnu_top > li a:hover {
            color: #722ED1; }
        #header .container .right_side_header .mnu_top > li > .sub_menu {
          position: absolute;
          top: 35px;
          background-color: #fff;
          -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
                  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          z-index: 10;
          border-radius: 5px;
          padding: 5px 0;
          -webkit-animation: 0.6s opac;
                  animation: 0.6s opac;
          display: none; }
          #header .container .right_side_header .mnu_top > li > .sub_menu > li {
            display: block;
            padding: 3px 10px;
            font-size: 14px; }
        #header .container .right_side_header .mnu_top > li.has_sub_menu:hover > .sub_menu {
          display: block; }

@-webkit-keyframes opac {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes opac {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
/*common style heading */
h1, h2, h3, h4 {
  line-height: 1.3; }

/*common style heading */
.notif {
  background-color: #f9f0ff;
  border-radius: 30px;
  padding: 10px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content; }
  .notif img {
    width: 16px;
    height: auto;
    gap: 7px; }
  .notif p {
    color: #722ED1; }
  .notif a {
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    text-decoration: none;
    border-bottom: 1px solid #722ED1;
    color: #722ED1; }
    .notif a:hover {
      color: #5b25a7;
      border-color: #5b25a7; }

.main_banner {
  padding: 240px 0 380px; }
  .main_banner .mb_info > h1 {
    color: #160637;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    max-width: 472px;
    margin-top: 10px; }
  .main_banner .mb_info > .descr {
    color: #8989A2;
    margin: 14px 0 44px;
    font-size: 18px; }
  .main_banner .mb_info > .btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 16px; }

section {
  padding: 100px 0; }
  section#top_banner {
    padding: 0; }

#advantages .notif {
  margin: 0 auto; }
  #advantages .notif img {
    width: 26px;
    height: auto;
    gap: 7px; }
  #advantages .notif a {
    border-bottom: none; }
#advantages .heading_main {
  min-width: 500px;
  margin: 32px auto 48px; }
  #advantages .heading_main h2 {
    color: #160637;
    font-size: 38px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 12px; }
  #advantages .heading_main .description {
    color: #8989A2;
    font-size: 18px;
    text-align: center;
    margin: 0 auto;
    max-width: 672px; }
#advantages .row_adv .item_adv {
  text-align: center;
  max-width: 300px; }
  #advantages .row_adv .item_adv > img {
    width: 40px;
    height: 40;
    border-radius: 50%; }
  #advantages .row_adv .item_adv > .heading {
    font-size: 20px;
    font-weight: 700;
    color: #160637;
    margin: 24px 0 16px; }
  #advantages .row_adv .item_adv > .descr {
    color: #8989A2;
    font-size: 18px; }

section.information img_responsive {
  margin: 0 auto; }
section.information .right_info > h3 {
  color: #160637;
  font-style: 38px;
  font-weight: 900;
  margin: 32px 0 16px; }
section.information .right_info > .descr {
  color: #8989A2;
  font-size: 18px; }

#reviews {
  background-image: url("img/reviews/img-bg.png");
  text-align: center;
  padding: 200px 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  #reviews .item_rev {
    text-align: center;
    display: none;
    -webkit-animation: opac 0.6s;
            animation: opac 0.6s; }
    #reviews .item_rev.active {
      display: block; }
    #reviews .item_rev > .quotes {
      color: #160637;
      font-size: 22px;
      margin: 0 auto 16px;
      max-width: 660px;
      height: 100px; }
    #reviews .item_rev > img {
      width: 80px;
      height: 80px;
      border-radius: 50%; }
    #reviews .item_rev > .name {
      margin-top: 16px; }
    #reviews .item_rev > .name, #reviews .item_rev > .position {
      color: #111;
      font-weight: 900; }
  #reviews .line {
    height: 1px;
    width: 100%;
    background-color: #DEC9FA;
    margin: 56px 0; }
  #reviews .nav_rev {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    #reviews .nav_rev > div {
      cursor: pointer;
      width: 16%;
      -webkit-filter: grayscale(1);
              filter: grayscale(1);
      -webkit-transition: all 0.4s ease;
      transition: all 0.4s ease;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      #reviews .nav_rev > div:hover, #reviews .nav_rev > div:active {
        -webkit-filter: grayscale(0);
                filter: grayscale(0); }

#pre_footer .pf_info > h4 {
  color: #160637;
  font-weight: 900;
  font-size: 32px;
  text-align: center; }
#pre_footer .pf_info > .line_img {
  margin: 42px auto;
  width: 100%; }
#pre_footer .pf_info > .img_responsive {
  margin: 0 auto; }
#pre_footer .form_wrapper {
  background-color: #f9f0ff;
  border-radius: 4px;
  max-width: 480px;
  margin: 0 auto; }
  #pre_footer .form_wrapper > form {
    border-radius: 4px;
    width: 86%;
    border: 1px solid #f9f0ff;
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
    -webkit-box-shadow: 0px 10px 20px rgba(137, 137, 162, 0.122);
            box-shadow: 0px 10px 20px rgba(137, 137, 162, 0.122);
    margin: 0 auto;
    background-color: #fff;
    padding: 36px 36px 24px;
    text-align: center; }
    #pre_footer .form_wrapper > form > h4 {
      color: #160637;
      font-size: 24px;
      margin-bottom: 32px;
      font-weight: 900; }
    #pre_footer .form_wrapper > form > input {
      display: block;
      outline: none;
      width: 100%;
      margin-bottom: 16px;
      padding: 14px 24px;
      border-radius: 4px;
      background-color: #fff;
      border: 1px solid rgba(137, 137, 162, 0.5);
      -webkit-transition: border-color 0.4s ease-in-out;
      transition: border-color 0.4s ease-in-out; }
      #pre_footer .form_wrapper > form > input::-webkit-input-placeholder {
        color: #8989A2;
        font-size: 16px; }
      #pre_footer .form_wrapper > form > input:-ms-input-placeholder {
        color: #8989A2;
        font-size: 16px; }
      #pre_footer .form_wrapper > form > input::-ms-input-placeholder {
        color: #8989A2;
        font-size: 16px; }
      #pre_footer .form_wrapper > form > input::placeholder {
        color: #8989A2;
        font-size: 16px; }
      #pre_footer .form_wrapper > form > input:focus {
        border-color: #722ED1; }
    #pre_footer .form_wrapper > form > .or {
      margin: 20px auto 15px;
      font-size: 16px;
      text-transform: uppercase; }
    #pre_footer .form_wrapper > form > a {
      display: block;
      min-width: 200px;
      margin: 0 auto;
      text-decoration: none; }
    #pre_footer .form_wrapper > form > .footer_form > .line {
      height: 1px;
      width: 100%;
      background-color: rgba(137, 137, 162, 0.5);
      margin: 22px 0; }
    #pre_footer .form_wrapper > form > .footer_form > p {
      font-size: 14px;
      color: #8989A2; }
      #pre_footer .form_wrapper > form > .footer_form > p > a {
        color: #1563FF; }

#footer {
  background-color: #FBFCFF;
  padding: 60px 0 0; }
  #footer .logo_info > a {
    width: 48px;
    height: 48px;
    display: block; }
    #footer .logo_info > a > img {
      margin: 0 auto; }
  #footer .logo_info > .descr {
    color: #160637;
    font-style: 14px;
    margin: 16px 0; }
  #footer .logo_info > .social {
    list-style-type: none; }
    #footer .logo_info > .social > li {
      display: inline-block;
      margin-right: 16px; }
      #footer .logo_info > .social > li > a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        width: 16px;
        height: 16px;
        -webkit-transition: -webkit-transform 0.4s ease;
        transition: -webkit-transform 0.4s ease;
        transition: transform 0.4s ease;
        transition: transform 0.4s ease, -webkit-transform 0.4s ease;
        text-decoration: none; }
        #footer .logo_info > .social > li > a:hover {
          -webkit-transform: translateY(-10px);
                  transform: translateY(-10px); }
      #footer .logo_info > .social > li:last-child {
        margin-right: 0; }
  #footer .mnu_footer_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 15px; }
    #footer .mnu_footer_wrapper > .mnu_footer {
      width: 23%; }
      #footer .mnu_footer_wrapper > .mnu_footer > ul {
        list-style-type: none; }
        #footer .mnu_footer_wrapper > .mnu_footer > ul > li {
          display: block; }
          #footer .mnu_footer_wrapper > .mnu_footer > ul > li > a {
            padding: 8px 0;
            display: block;
            text-decoration: none;
            color: #160637;
            -webkit-transition: color 0.4 ease;
            transition: color 0.4 ease;
            font-size: 14px; }
            #footer .mnu_footer_wrapper > .mnu_footer > ul > li > a:hover {
              color: #722ED1; }
  #footer b.heading {
    color: #160637;
    margin-bottom: 8px;
    display: block;
    font-size: 16px;
    font-weight: 900; }
  #footer .newsletter > b.heading {
    margin-bottom: 16px; }
  #footer .newsletter > form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #fff;
    -webkit-box-shadow: 0 5px 9px rgba(0, 0, 0, 0.05);
            box-shadow: 0 5px 9px rgba(0, 0, 0, 0.05);
    position: relative; }
    #footer .newsletter > form > input {
      display: block;
      border: none;
      outline: none;
      padding: 12px 16px; }
      #footer .newsletter > form > input::-webkit-input-placeholder {
        color: #8989A2;
        font-size: 14x; }
      #footer .newsletter > form > input:-ms-input-placeholder {
        color: #8989A2;
        font-size: 14x; }
      #footer .newsletter > form > input::-ms-input-placeholder {
        color: #8989A2;
        font-size: 14x; }
      #footer .newsletter > form > input::placeholder {
        color: #8989A2;
        font-size: 14x; }
    #footer .newsletter > form > button {
      position: absolute;
      cursor: pointer;
      top: 6px;
      right: 12px;
      border: none;
      background-color: transparent;
      outline: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      width: 26px;
      height: 26px; }
      #footer .newsletter > form > button > img {
        width: 20px;
        height: 20px; }
  #footer .copyright {
    padding-bottom: 15px;
    color: #160637;
    font-weight: 900;
    font-size: 16px;
    margin-top: 66px;
    text-align: center; }
